<footer>
    <div class="container">
        <p>&copy; <%= year %> My Blog. All rights reserved.</p>
        <p>
            <a href="https://twitter.com" target="_blank">Twitter</a> |
            <a href="https://github.com" target="_blank">GitHub</a> |
            <a href="https://linkedin.com" target="_blank">LinkedIn</a>
        </p>
    </div>
</footer>
</body>
</html>