<%- include("partials/header") %>

<div class="container">
  <h1>Contact Me</h1>
  <p>Have questions or just want to connect? Reach out to me using the details below:</p>
  <ul>
    <li>Email: kat@example.com</li>
    <li>Twitter: <a href="https://twitter.com" target="_blank">Twitter</a></li>
    <li>GitHub: <a href="https://github.com" target="_blank">GitHub</a></li>
  </ul>
</div>

<%- include("partials/footer") %>